h1 {
    color:rgb(245, 138, 8);
}
p {
    color: rgb(18, 18, 248);
    background-color: rgba(252, 238, 200, 0.856);
    font-weight: normal;
    /* bold, normal */
    font-style: normal;
    line-height: normal;
    /* This is another comment */
}

#new-id {
    background-color: rgba (0, 0, 0, 0);    
}
.new-class {
    background-color: rgba (0, 0, 0, 0);
}

a {
    font-size: 30px;
    text-decoration: underline;
}

a:visited {
    color:rgb(245, 138, 8);
    text-decoration: underline;
}

a:hover {
    color:bisque;
    text-decoration: none;
}

#container {
    background-color: rgba(252, 238, 200, 0.856);
    border-style: solid;
    border-color: aqua;
    border-width: 10px;
    width: 300px
}